.tarot_card {
    max-width: 100%;
}

.page-content {
    max-width: 60%;
    margin: auto;
    padding: 20px;
    background-color: white;
}

.mdl-layout {
  background: url('http://images-assets.nasa.gov/image/GSFC_20171208_Archive_e000384/GSFC_20171208_Archive_e000384~orig.jpg');
}

.right-btn {
    float: right;
}

.header-fade {
  background-color: black;
  opacity: 0.7;
}
