---
layout: default
title: Outer Space Tarot
---

<p>
  The Outer Space Tarot is based on humanity's obsession with the stars.
  Cards represent objects or events that captivate our imagination and symbolize aspects of our life on earth.
  The space images on the cards are mostly taken by NASA.
</p>

<p>
  <a href="about">Read More</a> about this deck.
</p>

<h2 id="majors">Majors</h2>
<div class="mdl-grid">
{% for post in site.posts %}
  {% if post.category contains 'major' %}
  <div id="{{ post.title }}" class="mdl-cell mdl-cell--3-col">
    <a href="{{ post.url | relative_url }}">
      <img src="{{ post.file-name | relative_url}}" class="tarot_card" alt="{{ post.title }}">
    </a>
  </div>
  {% endif %}
{% endfor %}
</div>

<h2 id="court">Courts</h2>
<div class="mdl-grid">
{% for post in site.posts %}
  {% if post.category contains 'court' %}
  <div id="{{ post.title }}" class="mdl-cell mdl-cell--3-col">
    <a href="{{ post.url | relative_rul }}">
      <img src="{{ post.file-name | relative_url }}" class="tarot_card" alt="{{ post.title }}">
    </a>
  </div>
  {% endif %}
{% endfor %}

<h2 id="court">Pips</h2>
<div class="mdl-grid">
{% for post in site.posts %}
  {% if post.category contains 'pip' %}
  <div id="{{ post.title }}" class="mdl-cell mdl-cell--3-col">
    <a href="{{ post.url | relative_url }}">
      <img src="{{ post.file-name | relative_url }}" class="tarot_card" alt="{{ post.title }}">
    </a>
  </div>
  {% endif %}
{% endfor %}
